<div class="string-list-container">
  <button pButton label="Add String" class="p-button-info" routerLink="/strings/new"></button>
  <div class="filter-container">
  <select id="status-filter" (change)="onFilterChange($event)">
    <option value="all">All</option>
    <option value="active">Active</option>
    <option value="inactive">Inactive</option>
  </select>

  <!-- Dropdown to select language -->
  <select (change)="onLanguageChange($event)">
    <option value="">All Languages</option>
    <option value="en">English</option>
    <option value="fr">French</option>
    <option value="de">German</option>
  </select>

    <!-- Label to display text based on the selected language -->
  <label>{{ labelText }}</label>

  <select (change)="onContextChange($event)">
    <option value="">All Contexts</option>
    <option value="masculine">Masculine</option>
    <option value="feminine">Feminine</option>
    <option value="plural">Plural</option>
  </select>
</div>

  <div *ngIf="strings && strings.length > 0; else noStrings">
    <table class="custom-table">
      <thead>
        <tr>
          <th>English</th>
          <th>French</th>
          <th>German</th>
          <th>Context</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let string of strings">
          <td>{{ string.eng_us }}</td>
          <td>{{ string.fr }}</td>
          <td>{{ string.de }}</td>
          <td>{{ string.context }}</td>
          <td>{{ string.active ? 'Active' : 'Inactive' }}</td>
          <td>
            <div class="string-item-actions">
              <button pButton 
                      label="Edit" 
                      icon="pi pi-pencil" 
                      class="p-button-info" 
                      [routerLink]="['/strings/edit', string.id]">
              </button>
              <button pButton 
                      label="Delete" 
                      icon="pi pi-trash" 
                      class="p-button-danger ml-2" 
                      (click)="deleteString(string.id)">
              </button>
              <button pButton 
                      label="{{ string.active ? 'Deactivate' : 'Activate' }}" 
                      class="p-button-warning ml-2" 
                      (click)="toggleStatus(string.id)">
              </button>
            </div>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noStrings>
    <p>No strings found.</p>
  </ng-template>
</div>