<div class="app-container">
  <nav class="navbar">
    <ul>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/projects">Projects</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/urls">URLs</a></li>
      <li *ngIf="authService.isLoggedIn()"><a routerLink="/strings">Strings</a></li>
      <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login">Login</a></li>
      <li *ngIf="authService.isLoggedIn()"><a (click)="logout()">Logout</a></li>
    </ul>
  </nav>
  <div class="layout-content">
    <router-outlet></router-outlet>
  </div>
  </div>