.string-list-container {
    margin: 20px;
    
    padding: 10px;
    margin-bottom: 10px; /* Increase this value to add more space between items */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  }
  
  .string-item {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px; /* Increase this value to add more space between items */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .string-item p {
    margin: 5px 0;
    color: black; /* Add this line to make the text color black */
  }
  
  .spacer {
    height: 20px; /* Increase this value to add more space between items */
  }
  