<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>

<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>

<div>
  <h2>{{ isEditMode ? 'Edit String' : 'Add String' }}</h2>
  <form [formGroup]="stringForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="eng_us">English:</label>
      <input type="text" id="eng_us" formControlName="eng_us" (blur)="translateString()" class="formControl" required>
      <!-- Validation message for English -->
      <div *ngIf="stringForm.get('eng_us')?.invalid && stringForm.get('eng_us')?.touched" class="validation-error">
        English is required.
      </div>
    </div>
    <div>
      <label for="fr">French:</label>
      <input type="text" id="fr" formControlName="fr" placeholder="French Translation" class="formControl">
    </div>
    <div>
      <label for="de">German:</label>
      <input type="text" id="de" formControlName="de" placeholder="German Translation" class="formControl">
    </div>
    <div>
      <label for="context">Context:</label>
      <input type="text" id="context" formControlName="context" placeholder="Context (e.g., masculine, feminine, plural)" />
    </div>    
    <button type="submit">{{ isEditMode ? 'Update' : 'Create' }}</button>
  </form>
</div>