// src/styles/variables.scss
$moonstone: #59B4CFff;
$white: #FEFEFFff;
$pale-azure: #96DFFEff;
$ecru: #DFBC72ff;
$blue-green: #2499B9ff;

$border-radius: 8px;
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
$primary-text-color: #333;