@import '../../../styles/variables.scss'; /* Assuming your theme variables are defined here */

/* Styling for the URL list container */
.url-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-top: 20px; /* Add space between the Create button and the list of URLs */
  display: grid;
  gap: 20px; /* Space between URL cards */
}

/* Styling for the individual URL item card */
.item-card {
  padding: 20px;
  border: 1px solid $blue-green;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: $pale-azure;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styling for the URL title inside the item card */
.item-title {
  font-size: 16px;
  color: $blue-green;
  margin-bottom: 15px;
  word-break: break-all; /* Ensure long URLs break to fit within the container */
}

/* Flex container for the buttons inside each card */
.item-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* Styling for the PrimeNG custom table */
.custom-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th {
    background-color: $pale-azure; /* Pale Azure for the header */
    color: $blue-green; /* Blue Green for text */
    padding: 15px;
    text-align: left;
  }

  td {
    padding: 15px;
    color: $primary-text-color; /* Your main text color */
    border-bottom: 1px solid $blue-green; /* Blue Green border */
  }

  tr:hover {
    background-color: rgba(89, 180, 207, 0.1); /* Light Blue Green hover effect */
  }
}

/* Styling for buttons */
button {
  margin-right: 10px;
  }

.p-button-info {
  background-color: $blue-green !important;
  border: none;
  &:hover {
    background-color: $ecru !important;
  }
}

.p-button-danger {
  background-color: $ecru !important;
  border: none;
  &:hover {
    background-color: darken($ecru, 10%) !important;
  }
}

/* Additional margin for buttons */
.ml-2 {
  margin-left: 10px;
}

/* Text inside the container */
p {
  font-size: 1.2rem;
  color: $primary-text-color; /* Your primary text color */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
  .url-list-container {
    padding: 15px;
  }

  .custom-table th,
  .custom-table td {
    padding: 10px;
    font-size: 14px;
  }

  button {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }

  .p-button-info,
  .p-button-danger {
    width: 100%;
  }
}